#sidebar {
    position: fixed;
    top: 44px;
    left: 0;
    bottom: 0;
    width: 18rem;
    padding: 2rem 1rem;
    background-color: #e8e9ea;
}

#page-content {
    margin-left: 18rem;
    margin-right: 2rem;
    /* The top padding should be tall enough so that it clears the fixed
     * navbar at the top. If it isn't then the page content will appear behind
     * the navbar */
    padding: 5rem 1rem;
}

#upload-data {
    borderRadius: 5px;
    borderStyle: dashed;
    borderWidth: 1px;
    height: 60px;
    lineHeight: 60px;
    margin: 10px;
    textAlign: center;
    width: 100%;
}

ul li {
    list-style: inside circle;
}

ul li ul {
    margin-top: 0.5rem;
}

.compact-list li {
    margin-bottom: 0.5rem;
    list-style: inside square;
}
